.PreparationItem {
	width: auto; /* Змінено ширину на auto, щоб елементи розтягувалися на всю ширину контейнера */
	flex: 0 0 30%; /* Задаємо початковий розмір елемента і дозволяємо йому не розтягуватися та не зменшуватися */
	height: 300px;
	border: 1px solid black;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 20px;
}

.PreparationItem_img {
	display: flex;
	justify-content: center;
	border: 1px solid black;
	border-radius: 10px;
	height: 80%;
	margin: 5px;
	overflow: hidden;
}

.PreparationItem_img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.preparationItem_information {
	display: flex;
	justify-content: space-between;
	margin: 5px;
}

.preparationItem_name {
	font-size: 20px;
}

.preparationItem_button button {
	padding: 10% 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: #4caf50;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
	width: 100%;
	height: 30%;
}

.preparationItem_button button:hover {
	background-color: #3e8e41;
}

.preparationItem_button button:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
