.Auth {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 80vh;
}
.auth_title {
	margin-bottom: 3vh;
	font-size: 300%;
}

.auth_items {
	display: flex;
	flex-direction: column;

	width: 75%;
}

.auth_items input {
	/* width: 200%; */
	height: 7vh;
	margin-bottom: 5%;

	border-radius: 10px;
	font-size: 200%;
}

/* input {
	width: 100px;
} */
